<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<h1>Welcome!</h1>
<div th:if="${param.error}" style="color:red">
    Invalid username and password.
</div>
<div th:if="${param.logout}" style="color:green">
    You have been logged out.
</div>
<form class="form-signin" th:action="@{/login}" method="post">
    <h2 class="form-signin-heading">Please sign in</h2>
    <p th:if="${param.error}" class="error">Invalid user, password, or domain</p>
    <p>
        <label for="username" class="sr-only">Username: </label>
        <input type="text" id="username" name="username" class="form-control"
               placeholder="Username" required autofocus/>
    </p>
    <p>
        <label for="password" class="sr-only">Password: </label>
        <input type="password" id="password" name="password" class="form-control"
               placeholder="Password" required autofocus/>
    </p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <br/>
    <p><a href="/home" th:href="@{/home}">Back to home page</a></p>
</form>
</body>
</html>